@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3f4fc;
  --light-col: #d9db30;
  --very-light-col: #fafae0;
  --very-light-col2: #ebee96;
  --dark-col: #133040;
  --very-dark-col: #0e2431;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.transform-bg {
  position: relative;
  transform-style: preserve-3d;
}

.transform-bg::before {
  position: absolute;
  transform: translateZ(-10px);
  content: "";
  background: var(--light-col);
  width: 100%;
  height: 200px;
  top: -4px;
  left: 0px;
  border-radius: 8px;
}
